In [1]:
import numpy as np
import pandas as pd
import scipy as sp
from scipy import stats

### 反応温度別の成分量

In [5]:
df=pd.DataFrame({
    "A1":[77.4,78.2,78.1,77.8,77.9],
    "A2":[78.3,78.2,78.4,77.3,79.1],
    "A3":[79.2,79.3,79.1,78.2,79.3],
    "A4":[78.9,78.8,78.1,78.1,78.9]
})
df

     A1    A2    A3    A4
0  77.4  78.3  79.2  78.9
1  78.2  78.2  79.3  78.8
2  78.1  78.4  79.1  78.1
3  77.8  77.3  78.2  78.1
4  77.9  79.1  79.3  78.9

#### 各水準の平均

In [54]:
A_mean=np.array([df.A1.mean(),df.A2.mean(),df.A3.mean(),df.A4.mean()])
np.round(A_mean,5)

array([77.88, 78.26, 79.02, 78.56])

#### 一般平均(grand mean)

In [49]:
mu = sp.sum([len(i)*i.mean()/df.size for i in df.values.T])
round(mu,5)

78.43

In [50]:
round(df.mean().mean(),5)

78.43

#### 各水準の効果(effect)

In [56]:
A_mean-mu

array([-0.55, -0.17,  0.59,  0.13])

In [63]:
round(sum([len(i)*j for i,j in zip(df.values.T,(A_mean-mu))]),10)

0.0