ref:https://tutorials.chainer.org/ja/07_Regression_Analysis.html

In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
df=pd.read_csv("../../../sample/5-3-1-lm-model.csv")
df.head()

   humidity  price  sales  temperature weather
0      29.5    290  229.7         17.8   rainy
1      38.1    290  206.1         26.1   rainy
2      31.5    290  202.5         22.0   rainy
3      39.7    290  195.5         23.0   rainy
4      24.7    290  214.4         14.5   rainy

In [ ]:
d